<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#00152b" />
    <link rel="shortcut icon" href="./photo/logo_claire-removebg-preview.png" />
    <link
      rel="apple-touch-icon"
      href="./photo/logo_claire-removebg-preview.png"
    />

    <title>TF1 Camping Paradis - Espace Presse</title>

    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../navbar/menu.css" />
    <link rel="stylesheet" href="presse.css" />
    <link rel="stylesheet" href="../footer/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body>
    <script src="../navbar/navbar.js"></script>

    <header class="hero-banner">
      <h1>Espace Presse</h1>
      <p>
        Retrouvez tous les communiqués et actualités du Groupe TF1 Camping
        Paradis.
      </p>
    </header>

    <section class="section-container">
      <h2 style="color: var(--bleu-corporate); text-align: center">
        Communiqués Officiels
      </h2>

      <div class="presse-list">
        <div class="presse-item">
          <div>
            <strong>3 mai 2026</strong>
            <span>
              Le groupe TF1 Camping Paradis renforce son soutien à la création
              française
            </span>
          </div>
          <a href="../../pdf/cdp_3mai2026.pdf" target="_blank">
            Télécharger le PDF
          </a>
        </div>
        <div class="presse-item">
          <div>
            <strong>26 Juillet 2025</strong>
            <span>
              Résultats Financiers 1er Semestre 2025 : Une croissance record
              pour le pôle Télévision.
            </span>
          </div>
          <a
            href="../../pdf/Communique de presse résulat s1 2025 et nouveau enjeux.pdf"
            target="_blank"
          >
            Télécharger le PDF
          </a>
        </div>
      </div>
    </section>

    <script src="../footer/footer.js"></script>
  </body>
</html>
