<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>TF1 Camping Paradis - Espace Presse</title>

    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../navbar/menu.css" />
    <link rel="stylesheet" href="presse.css" />
    <link rel="stylesheet" href="../footer/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <script defer src="https://cdn.vercel-insights.com/v1/script.js"></script>
  </head>

  <body>
    <script src="../navbar/navbar.js"></script>

    <header class="hero-banner">
      <h1>Espace Presse</h1>
      <p>
        Retrouvez tous les communiqués et actualités du Groupe TF1 Camping
        Paradis.
      </p>
    </header>

    <section class="section-container">
      <h2 style="color: var(--bleu-corporate); text-align: center">
        Communiqués Officiels
      </h2>

      <div class="presse-list">
        <div class="presse-item">
          <div>
            <strong>26 Juillet 2025</strong>
            <span
              >Résultats Financiers 1er Semestre 2025 : Une croissance record
              pour le pôle Télévision.</span
            >
          </div>
          <a
            href="../../pdf/Communique de presse résulat s1 2025 et nouveau enjeux.pdf"
            target="_blank"
            >Télécharger le PDF</a
          >
        </div>
    </section>

    <script src="../footer/footer.js"></script>
  </body>
</html>
