<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#00152b" />
    <link rel="shortcut icon" href="./photo/logo_claire-removebg-preview.png" />
    <link
      rel="apple-touch-icon"
      href="./photo/logo_claire-removebg-preview.png"
    />

    <title>TF1 Camping Paradis - Presse Kit Média</title>

    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../navbar/menu.css" />
    <link rel="stylesheet" href="pressekit.css" />
    <link rel="stylesheet" href="../footer/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body>
    <script src="../navbar/navbar.js"></script>

    <header class="hero-banner">
      <h1>Presse Kit Média</h1>
      <p>
        Retrouvez les dossiers de presse, annonces de nouvelles saisons et
        renouvellements de programmes.
      </p>
    </header>

    <section class="section-container">
      <h2 style="color: var(--bleu-corporate); text-align: center">
        Dossiers de Presse & Annonces
      </h2>

      <div class="presse-list">
        <div class="presse-item">
          <div>
            <strong>10 mai 2026</strong>
            <span>
              TF1 Camping Paradis annonce les renouvellements de ses programmes.
            </span>
          </div>
          <a href="../../pdf/CPK_renouvellement.pdf" target="_blank">
            Télécharger le PDF
          </a>
        </div>
      </div>
      <div class="presse-list">
        <div class="presse-item">
          <div>
            <strong>15 avril 2026</strong>
            <span>
              TF1 Camping Paradis annonce l’arrivé de NCIS : New York
            </span>
          </div>
          <a href="../../pdf/CPK_NCISNewyork.pdf" target="_blank">
            Télécharger le PDF
          </a>
        </div>
      </div>
    </section>
    <script src="../footer/footer.js"></script>
  </body>
</html>
