<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#00152b" />
    <link rel="shortcut icon" href="./photo/logo_claire-removebg-preview.png" />
    <link
      rel="apple-touch-icon"
      href="./photo/logo_claire-removebg-preview.png"
    />
    <title>Chaînes & Streaming - TF1 CP</title>

    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../navbar/menu.css" />
    <link rel="stylesheet" href="chaines.css" />
    <link rel="stylesheet" href="../footer/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body>
    <script src="../navbar/navbar.js"></script>

    <header class="hero-banner">
      <h1>Nos Chaînes & Services</h1>
      <p>
        Découvrez notre bouquet de chaînes TV et notre offre de streaming
        premium.
      </p>
    </header>

    <main class="section-container">
      <div class="chaines-tabs">
        <button class="tab-btn active" onclick="openChannel(event, 'tf1')">
          TF1 CP
        </button>
        <button class="tab-btn" onclick="openChannel(event, 'm6')">
          M6 CP
        </button>
        <button class="tab-btn" onclick="openChannel(event, 'tfx')">
          TFX CP
        </button>
        <button class="tab-btn" onclick="openChannel(event, 'tmc')">
          TMC CP
        </button>
        <button class="tab-btn" onclick="openChannel(event, 'lci')">
          LCI CP
        </button>
      </div>

      <div class="channel-details-container">
        <div id="tf1" class="channel-card theme-tf1 active">
          <div
            class="channel-banner"
            style="background-image: url(&quot;../../photo/1cccc.webp&quot;)"
          >
            <div class="banner-content-box">
              <img
                src="../../photo/logo-TF1.jpg"
                alt="Logo TF1"
                class="banner-logo"
              />

              <h2 class="banner-subtitle">CAMPING PARADIS</h2>

              <p class="channel-slogan">"Les Français, Ensembles"</p>

              <span class="badge-leader"
                >1ère chaîne de France et d'Europe</span
              >
            </div>
          </div>

          <div class="live-bar">
            <div class="live-info">
              <span class="live-dot">🔴 EN DIRECT</span>
              <span class="live-program">Chargement...</span>
            </div>

            <div class="live-progress-wrapper">
              <span class="live-time-start">--:--</span>
              <div class="live-progress">
                <div class="progress-fill" style="width: 0%"></div>
              </div>
              <span class="live-time-end">--:--</span>
            </div>

            <a href="../pro/pro.html" class="btn-watch"
              >Voir la grille <i class="fas fa-chevron-right"></i
            ></a>
          </div>

          <div class="channel-content">
            <div class="info-grid">
              <div class="info-box">
                <i class="fas fa-tv"></i><span>Canal</span><strong>1</strong>
              </div>
              <div class="info-box">
                <i class="fas fa-users"></i><span>Cible</span
                ><strong>Familles et Jeune</strong>
              </div>
              <div class="info-box">
                <i class="fas fa-chart-line"></i><span>Audience</span
                ><strong class="trend-up">64,5%</strong>
              </div>
            </div>

            <div class="media-section">
              <div class="programs-block">
                <h3>Programmes Phares</h3>
                <div class="posters-grid">
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'Demain nous appartient',
                        'Est une série quotidienne francaise, L\'histoire tourne autour des habitants de la ville de Sète, au bord de la mer Méditerranée et de l\'étang de Thau. Leur vie est rythmée par les rivalités familiales, romances et scènes de la vie quotidienne, mais aussi par des intrigues mêlant enquêtes policières, secrets et trahisons.',
                      )
                    "
                  >
                    <img src="../../photo/dna-affiche-chaine.jpg" alt="DNA" />
                    <span>Demain nous appartient</span>
                  </div>

                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'Le Journal de 20H',
                        'L\'actualité nationale et internationale décryptée par la rédaction de TF1 Camping Paradis. Toujours plus intense, l\'information est traité de manière juste et vérifiée sans patie pris pour votre confiance. ',
                      )
                    "
                  >
                    <img src="../../photo/20h-programmetv.jpg" alt="Le 20H" />
                    <span>Le Journal de 20H</span>
                  </div>

                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'NCIS',
                        'NCIS suit une équipe d\'enquêteurs spécialisés dans les affaires criminelles liées à la Marine américaine, mêlant suspense, action et humour. Série historique de la chaine, elle est N°1 des audiences en 2025.',
                      )
                    "
                  >
                    <img src="../../photo/ncis-affiche.jpg" alt="NCIS" />
                    <span>NCIS</span>
                  </div>
                </div>

                <div id="desc-viewer" class="description-viewer">
                  <h4 id="desc-title">Titre du programme</h4>
                  <p id="desc-text">Description...</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="m6" class="channel-card theme-m6">
          <div
            class="channel-banner"
            style="
              background-image: url(&quot;../../photo/ob_c6b621_visite-m6-jep-10.jpg&quot;);
            "
          >
            <div class="banner-content-box">
              <img
                src="../../photo/logo-M6-removebg-preview.png"
                alt="Logo M6"
                class="banner-logo"
              />
              <h2 class="banner-subtitle">CAMPING PARADIS</h2>
              <p class="channel-slogan">"Continuons de grandir ensemble"</p>
            </div>
          </div>

          <div class="channel-content">
            <div class="info-grid">
              <div class="info-box">
                <i class="fas fa-tv"></i><span>Canal</span><strong>6</strong>
              </div>
              <div class="info-box">
                <i class="fas fa-users"></i><span>Cible</span
                ><strong>Familles</strong>
              </div>
              <div class="info-box">
                <i class="fas fa-chart-line"></i><span>Audience</span
                ><strong>20,1%</strong>
              </div>
            </div>

            <div class="media-section">
              <div class="programs-block">
                <h3>Programmes Phares</h3>
                <div class="posters-grid">
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'NCIS Originies',
                        'NCIS: Origines explore les débuts de l\'équipe d\'enquêteurs du NCIS, révélant les événements et les personnages qui ont façonné la série originale, tout en offrant des intrigues captivantes et des révélations surprenantes.',
                      )
                    "
                  >
                    <img
                      src="../../photo/NCISoriginies.jpg"
                      alt="NCIS Originies"
                    />
                    <span>NCIS Originies</span>
                  </div>
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'Chicago Fire',
                        'Les pompiers de Chicago luttent contre les incendies et sauvent des vies dans cette série dramatique captivante.',
                      )
                    "
                  >
                    <img
                      src="../../photo/e32e0d917e83177ed0e7a2265c414d9e819674e65f64b8541e62b67bb5911cbb.jpg"
                      alt="Chicago Fire"
                    />
                    <span>Chicago Fire</span>
                  </div>
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'FBI',
                        'Une série policière captivante qui suit les enquêtes du Federal Bureau of Investigation, mettant en lumière les défis et les dangers auxquels sont confrontés les agents dans leur lutte contre le crime.',
                      )
                    "
                  >
                    <img src="../../photo/FBI.jpg" alt="FBI" />
                    <span>FBI</span>
                  </div>
                </div>
                <div id="desc-viewer-m6" class="description-viewer">
                  <h4 id="desc-title-m6"></h4>
                  <p id="desc-text-m6"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="tfx" class="channel-card theme-tfx">
          <div
            class="channel-banner"
            style="
              background-image: url(&quot;../../photo/imagesccccccscscscs.jpg&quot;);
            "
          >
            <div class="banner-content-box">
              <img
                src="../../photo/logo-TFX.jpg"
                alt="Logo TFX"
                class="banner-logo"
              />
              <h2 class="banner-subtitle">CAMPING PARADIS</h2>
              <p class="channel-slogan">
                "La chaîne des jeunes adultes et du divertissement."
              </p>
            </div>
          </div>

          <div class="channel-content">
            <div class="info-grid">
              <div class="info-box">
                <i class="fas fa-tv"></i><span>Canal</span><strong>11</strong>
              </div>
              <div class="info-box">
                <i class="fas fa-users"></i><span>Cible</span
                ><strong>15-34 ans</strong>
              </div>
              <div class="info-box">
                <i class="fas fa-chart-line"></i><span>Audience</span
                ><strong>14,5%</strong>
              </div>
            </div>

            <div class="media-section">
              <div class="programs-block">
                <h3>Programmes Phares</h3>
                <div class="posters-grid">
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'L\'Étudiant Fou',
                        'Après la série à succès de La Classe Folle, suivez la suite des aventures en tant qu\'étudiant autour de nouveaux amis.',
                      )
                    "
                  >
                    <img src="../../photo/IMG_0719.png" />
                    <span>L'Étudiant Fou</span>
                  </div>
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'YOU',
                        'Une série captivante qui explore les méandres de l\'obsession et de la manipulation à travers le personnage de Joe Goldberg, un libraire charmant mais dangereux.',
                      )
                    "
                  >
                    <img src="../../photo/680c01c97a1669ad0e0da1e4.jpg" />
                    <span>YOU</span>
                  </div>
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'A Million Little Things',
                        'Une série dramatique qui suit un groupe d\'amis à Boston, dont la vie est bouleversée par le suicide d\'un de leurs proches, les poussant à réévaluer leurs propres vies et relations.',
                      )
                    "
                  >
                    <img src="../../photo/AMLT.jpg" />
                    <span>A Million Little Things</span>
                  </div>
                  <div class="description-viewer" style="display: none">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="tmc" class="channel-card theme-tmc">
          <div
            class="channel-banner"
            style="
              background-image: url(&quot;../../photo/banniere-tmc.jpg&quot;);
            "
          >
            <div class="banner-content-box">
              <img
                src="../../photo/logo-TMC.jpg"
                alt="Logo TMC"
                class="banner-logo"
              />
              <h2 class="banner-subtitle">CAMPING PARADIS</h2>
              <p class="channel-slogan">"La chaines des films"</p>
            </div>
          </div>

          <div class="channel-content">
            <div class="info-grid">
              <div class="info-box">
                <i class="fas fa-tv"></i><span>Canal</span><strong>10</strong>
              </div>
              <div class="info-box">
                <i class="fas fa-users"></i><span>Cible</span
                ><strong>Urbains / Premium</strong>
              </div>
              <div class="info-box">
                <i class="fas fa-chart-line"></i><span>Audience</span
                ><strong>9,3%</strong>
              </div>
            </div>

            <div class="media-section">
              <div class="programs-block">
                <h3>Programmes Phares</h3>
                <div class="posters-grid">
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'Quotidien',
                        'Yann Barthès et son équipe décryptent l\'actu.',
                      )
                    "
                  >
                    <img
                      src="../../photo/vignette-paysage-quotidien-2023-costume-a811cf-91bdf6-01x_66f1a3069165b.jpg"
                    />
                    <span>Quotidien</span>
                  </div>
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'Camping Paradis',
                        'Une série française qui suit les aventures d\'un groupe de vacanciers dans un camping, mêlant humour, romance et drame.',
                      )
                    "
                  >
                    <img
                      src="../../photo/vignette-16-9-camping-paradis-2022-d70c9b-caa5dd-0@1x.webp"
                      alt="Camping Paradis"
                    />
                    <span>Camping Paradis</span>
                  </div>
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'Ciné Dimanche',
                        'L\'emission de cinéma du dimanche, où les spectateurs peuvent découvrir les derniers films sortis en salle.',
                      )
                    "
                  >
                    <img src="../../photo/Logo_TF1_Ciné_Dimanche_2021.png" />
                    <span>Ciné Dimanche</span>
                  </div>
                  <div class="description-viewer" style="display: none">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="lci" class="channel-card theme-lci">
          <div
            class="channel-banner"
            style="
              background-image: url(&quot;../../photo/banniere-lci.jpg&quot;);
            "
          >
            <div class="banner-content-box">
              <img
                src="../../photo/logo-LCI.jpg"
                alt="Logo LCI"
                class="banner-logo"
              />
              <h2 class="banner-subtitle">CAMPING PARADIS</h2>
              <p class="channel-slogan">"Au coeur de l'info"</p>
            </div>
          </div>

          <div class="channel-content">
            <div class="info-grid">
              <div class="info-box">
                <i class="fas fa-tv"></i><span>Canal</span><strong>26</strong>
              </div>
              <div class="info-box">
                <i class="fas fa-users"></i><span>Cible</span
                ><strong>CSP +</strong>
              </div>
              <div class="info-box">
                <i class="fas fa-chart-line"></i><span>Audience</span
                ><strong>15,3%</strong>
              </div>
            </div>

            <div class="media-section">
              <div class="programs-block">
                <h3>Programmes Phares</h3>
                <div class="posters-grid">
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'Le 17/20 \: L\'info en Grand',
                        'Un rendez-vous d\'information complet qui couvre l\'actualité nationale et internationale, avec des analyses approfondies et des interviews exclusives.',
                      )
                    "
                  >
                    <img src="../../photo/Le 17_20 L'info en grand.png" />
                    <span>Le 17/20 : L'info en Grand</span>
                  </div>
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'Le 20H Média',
                        'Un programme d\'information qui propose une analyse approfondie des événements médiatiques et de l\'actualité culturelle, avec des invités et des experts du secteur.',
                      )
                    "
                  >
                    <img src="../../photo/Le 20h média.png" />
                    <span>Le 20H Média</span>
                  </div>
                  <div
                    class="poster-card"
                    onclick="
                      showDescription(
                        'Reportage Grand Format',
                        'Un programme documentaire qui explore des sujets d\'actualité et des histoires humaines à travers des reportages immersifs et captivants, offrant une perspective unique sur le monde qui nous entoure. Suivi de débat en plateau avec des experts et des témoins pour approfondir la compréhension des enjeux abordés.',
                      )
                    "
                  >
                    <img src="../../photo/Reportage grand format.png" />
                    <span>Reportage Grand Format</span>
                  </div>
                </div>
                <div class="description-viewer" style="display: none">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="chaine.js"></script>

    <script src="../footer/footer.js"></script>
  </body>
</html>
