<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#00152b" />
    <link rel="shortcut icon" href="./photo/logo_claire-removebg-preview.png" />
    <link
      rel="apple-touch-icon"
      href="./photo/logo_claire-removebg-preview.png"
    />
    <title>Notre Histoire - TF1 CP</title>

    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../navbar/menu.css" />
    <link rel="stylesheet" href="../../css/theme.css" />
    <link rel="stylesheet" href="histoire.css" />
    <link rel="stylesheet" href="../footer/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <script src="../navbar/navbar.js"></script>
    <header class="hero-banner">
      <h1>L'Épopée du Groupe TF1 Camping Paradis</h1>
      <p>Découvrez comment un petit groupe est devenu leader mondial.</p>
    </header>

    <main>
      <section class="histoire-section">
        <div class="container">
          <div class="timeline">
            <div class="timeline-item">
              <div class="timeline-date">2009</div>
              <div class="timeline-content">
                <h3>La Création</h3>
                <p>
                  A l'origine, le groupe TF1 Camping Paradis et le groupe
                  Camping Paradis sont deux groupes séparés et totalement
                  indépendants, le premier dans les médias et l'autre dans les
                  Infrastructures et immobiliers.
                </p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-date">2011</div>
              <div class="timeline-content">
                <h3>Les premiers contrats avec des chaines américaine</h3>
                <p>
                  Diffusion des premières séries en co-production avec CBS, ABC
                  et NBC comme NCIS ou New York Unité Spéciale.
                </p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-date">2014</div>
              <div class="timeline-content">
                <h3>Crise économique et difficultés</h3>
                <p>
                  Le groupe traverse une période difficile et une perte de
                  Rentabilité. Enchaînement de dettes et de coupes budgétaires.
                  Le groupe est placé en redressement judiciaire, le 14
                  Septembre 2014, par le tribunal de commerce de Paris.
                </p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-date">2015</div>
              <div class="timeline-content">
                <h3>La Reprise et la Croissance</h3>
                <p>
                  Après une année difficile, le groupe enchaîne les bonnes
                  audiences et les succès comme avec la déjantée, les contrats
                  sont relancés et le groupe se développe dans différents
                  domaines Comme le numérique. Le chiffre d'affaires est
                  multiplié par 4 En 2015.
                </p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-date">2017</div>
              <div class="timeline-content">
                <h3>Le changement de siège social</h3>
                <p>
                  Après 8 ans dans le même siège, le groupe change et s'installe
                  dans la tour TF1 Camping Paradis, avenue Notre-Dame de Paris à
                  La Garette et développe une année record avec plusieurs succès
                  lancé comme Demain nous appartient.
                </p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-date">2019</div>
              <div class="timeline-content">
                <h3>Les 10 ans du groupe</h3>
                <p>
                  Le groupe voit les choses en grand pour fêter les 10 ans avec
                  une multitude de nouveaux programmes et annonce le lancement
                  de TFX Camping Paradis et de Nature & Moi. Enfin, il devient
                  le premier groupe audiovisuel européen.
                </p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-date">2020</div>
              <div class="timeline-content">
                <h3>L'année du risque</h3>
                <p>
                  Alors que la pandémie de COVID-19 frappe le monde entier, le
                  groupe se maintient notamment grâce à la diversification de
                  ses activité et de ses programmes TV.
                </p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-date">2022</div>
              <div class="timeline-content">
                <h3>La fusion</h3>
                <p>
                  Annoncé au mois de mai 2021, pour le 1er janvier 2022, Le
                  Groupe TF1 Camping Paradis et le groupe Camping Paradis
                  fusionnent pour devenir le leader mondial de l'audiovisuel
                  avec une section commerce, infrastructure et service.
                </p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-date">2024 et 2025</div>
              <div class="timeline-content">
                <h3>1er Groupe audiovisuel mondial</h3>
                <p>
                  Le 25 mai 2024, le Groupe TF1 Camping Paradis devient le 1er
                  groupe audiovisuel mondial en linéaire et en streaming le 15
                  janvier 2025. le groupe se classe également dans le top 10 des
                  plus grande entreprise mondiale avec un chiffre d'affaires de
                  206 Milliards d'euros.
                </p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-date">Aujoud'hui</div>
              <div class="timeline-content">
                <h3>Diversification des contrats</h3>
                <p>
                  En 2025 et 2026, le groupe cherche de nouveaux contrats avec
                  CBS et ABC, par exemple, mais aussi Netflix, TF1, M6 et France
                  TV. À l'horizon 2030, atteindre la neutralité carbone et le
                  lancement d'un grand pôle Énergie.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="histoire.js"></script>

    <script src="../footer/footer.js"></script>
  </body>
</html>
