<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nos Programmes - TF1 Camping Paradis</title>

    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../navbar/menu.css" />
    <link rel="stylesheet" href="../footer/footer.css" />
    <link rel="stylesheet" href="programme.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body class="page-vod">
    <script src="../navbar/navbar.js"></script>

    <section class="bento-featured">
      <a
        href="#"
        class="bento-item bento-large"
        style="background-image: url(&quot;../../photo/manifest.jpg&quot;)"
      >
        <div class="bento-overlay"></div>
        <div class="bento-content">
          <span class="badge badge-red">LE FINAL</span>
          <h2>MANIFEST</h2>
          <p>L'ultime vol du 828. Découvrez la fin du mystère.</p>
        </div>
      </a>

      <a
        href="#"
        class="bento-item bento-small"
        style="background-image: url(&quot;../../photo/NCIS-affiche.jpg&quot;)"
      >
        <div class="bento-overlay"></div>
        <div class="bento-content">
          <span class="badge badge-red">FIN DE SAISON</span>
          <h2>NCIS</h2>
          <!-- <p>Les Chasseurs d'Immunité.</p> -->
        </div>
      </a>

      <a
        href="#"
        class="bento-item bento-small"
        style="background-image: url(&quot;../../photo/dna.jpg&quot;)"
      >
        <div class="bento-overlay"></div>
        <div class="bento-content">
          <span class="badge badge-red">INÉDIT</span>
          <h2>DEMAIN NOUS APPARTIENT</h2>
          <p>Du lundi au vendredi à 20h30</p>
        </div>
      </a>
    </section>

    <main class="vod-catalogue">
      <div class="vod-row">
        <div class="row-header">
          <h3>Séries & Fictions incontournables</h3>
          <button class="btn-voir-tout">
            Voir tout <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="row-wrapper">
          <button class="scroll-btn scroll-left">
            <i class="fas fa-chevron-left"></i>
          </button>
          <div class="row-container">
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/hawaii50.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Hawaii 5-0</h4>
                <span class="genre">Action / Policier</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/campingparadis.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Camping Paradis</h4>
                <span class="genre">Comédie</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/firecountry.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Fire Country</h4>
                <span class="genre">Drame / Action</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="background-image: url(&quot;../../photo/ncis.jpg&quot;)"
              ></div>
              <div class="card-info">
                <h4>NCIS</h4>
                <span class="genre">Enquête</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="background-image: url(&quot;../../photo/hpi.jpg&quot;)"
              ></div>
              <div class="card-info">
                <h4>HPI</h4>
                <span class="genre">Comédie policière</span>
              </div>
            </div>

            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/thechristmas.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>The Christmas</h4>
                <span class="genre">Série</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/ncishawail.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>NCIS: Hawail</h4>
                <span class="genre">Policier</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/csi2016.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>CSI: 22 mars 2016</h4>
                <span class="genre">Enquête</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/csivegas.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>CSI: Vegas</h4>
                <span class="genre">Enquête</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/sherifcountry.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Sherif Country</h4>
                <span class="genre">Série</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/ginnygeorgia.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Ginny et Georgia</h4>
                <span class="genre">Drame</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/elsbeth.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Elsbeth</h4>
                <span class="genre">Série</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/willtrent.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Will Trent</h4>
                <span class="genre">Série</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/ncisla.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>NCIS: Los Angeles</h4>
                <span class="genre">Policier</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/ncisno.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>NCIS: Nouvelle Orléans</h4>
                <span class="genre">Policier</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/epreuvepouvoir.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>L'épreuve du pouvoir</h4>
                <span class="genre">Série</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="background-image: url(&quot;../../photo/911.jpg&quot;)"
              ></div>
              <div class="card-info">
                <h4>911</h4>
                <span class="genre">Action</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="background-image: url(&quot;../../photo/swat.jpg&quot;)"
              ></div>
              <div class="card-info">
                <h4>S.W.A.T.</h4>
                <span class="genre">Action</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/tracker.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Tracker</h4>
                <span class="genre">Série</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="background-image: url(&quot;../../photo/dna19.jpg&quot;)"
              ></div>
              <div class="card-info">
                <h4>Demain nous appartient 19</h4>
                <span class="genre">Fiction</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/csialerte.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>CSI: Alerte Attentat</h4>
                <span class="genre">Enquête</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/csicamping.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>CSI: Camping Paradis</h4>
                <span class="genre">Enquête</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/magnum.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Magnum</h4>
                <span class="genre">Action</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/macgyver.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>MacGyver</h4>
                <span class="genre">Action</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/alerteunite.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Alerte: unité des personnes disparues</h4>
                <span class="genre">Policier</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/alicenevers.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Alice Nevers</h4>
                <span class="genre">Policier</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/acontresens.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>A Contre sens</h4>
                <span class="genre">Série</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/catseyes.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Cat's Eyes</h4>
                <span class="genre">Série</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/thundermans.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Les Thundermans</h4>
                <span class="genre">Série / Jeunesse</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/friends.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Friends</h4>
                <span class="genre">Comédie</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="background-image: url(&quot;../../photo/itc19.jpg&quot;)"
              ></div>
              <div class="card-info">
                <h4>Ici tout commence 19</h4>
                <span class="genre">Fiction</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/manifest.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Manifest</h4>
                <span class="genre">Série (Dernière saison)</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/heartstopper.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Heartstopper</h4>
                <span class="genre">Série (Dernière saison)</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/ncisinternational.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>NCIS: International</h4>
                <span class="genre">Série terminée</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/epreuvenations.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>L'épreuve des Nations</h4>
                <span class="genre">Nouveauté</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/therookie.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>The Rookie</h4>
                <span class="genre">Nouveauté</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/ncisny.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>NCIS: New York</h4>
                <span class="genre">Nouveauté</span>
              </div>
            </div>
          </div>
          <button class="scroll-btn scroll-right">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>

      <div class="vod-row">
        <div class="row-header">
          <h3>Divertissement en famille</h3>
          <button class="btn-voir-tout">
            Voir tout <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="row-wrapper">
          <button class="scroll-btn scroll-left">
            <i class="fas fa-chevron-left"></i>
          </button>
          <div class="row-container">
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/burgerquiz.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Burger Quiz CP</h4>
                <span class="genre">Jeu télévisé</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="background-image: url(&quot;../../photo/dals.jpg&quot;)"
              ></div>
              <div class="card-info">
                <h4>Danse avec les Stars</h4>
                <span class="genre">Compétition</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/staracademy.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Star Academy</h4>
                <span class="genre">Télé-crochet</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/pekinexpress.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Pékin Express</h4>
                <span class="genre">Aventure</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/4mariages.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>4 Mariages 1 Lune de Miel</h4>
                <span class="genre">Téléréalité</span>
              </div>
            </div>

            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/mycats.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>My cats</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/mycatsfeds.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>My cats: Feds</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/lateshow.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Le Late Show</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/aloquoi.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Alo Quoi.com</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/campinggame.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>The camping paradis game</h4>
                <span class="genre">Jeu</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/totalecran.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Total écran: nouvelle génération</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/campingcomedy.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Camping comedy show</h4>
                <span class="genre">Humour</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/villacamping.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>La villa de TF1 Camping Paradis</h4>
                <span class="genre">Téléréalité</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/gensdacote.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Les Gens d'à Coté</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/viedanslemonde.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>La vie dans le monde</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/marseillais.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Les Marseillais</h4>
                <span class="genre">Téléréalité</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/10couples.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>10 couples parfais</h4>
                <span class="genre">Téléréalité</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/villacoeurs.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>La villa des coeurs brisée</h4>
                <span class="genre">Téléréalité</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/monchat.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Mon chat, Ma vie</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/dejante.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>La déjanté: nouvelle génération</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/vieinjuste.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>La vie est injuste</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/viebelle.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>La vie est belle</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/vienouvelle.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>La vie nouvelle génération</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/petitsecret.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Petit secret entre voisin</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/bigbetisier.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Le Big Bêtisier</h4>
                <span class="genre">Humour</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/topcamping.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Top Camping Paradis</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/topfrance.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Top France</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/topstreaming.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Top streaming</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/topdetente.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Top détente</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="background-image: url(&quot;../../photo/tv168.jpg&quot;)"
              ></div>
              <div class="card-info">
                <h4>Le TV168</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/frenchieshore.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Frenchie Shore</h4>
                <span class="genre">Téléréalité</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/nightclub.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Le Night Club</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/unicorn.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>The Unicorn</h4>
                <span class="genre">Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/airdefamille.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Un air de famille</h4>
                <span class="genre">Jeu / Divertissement</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/betisiersemaine.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Le Bêtisier de la semaine</h4>
                <span class="genre">Humour</span>
              </div>
            </div>
          </div>
          <button class="scroll-btn scroll-right">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>

      <div class="vod-row">
        <div class="row-header">
          <h3>Information & Magazines</h3>
          <button class="btn-voir-tout">
            Voir tout <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="row-wrapper">
          <button class="scroll-btn scroll-left">
            <i class="fas fa-chevron-left"></i>
          </button>
          <div class="row-container">
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/quotidien.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Quotidien CP</h4>
                <span class="genre">Talk-show</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/septahuit.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Sept à Huit</h4>
                <span class="genre">Magazine d'actualité</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/zoneinterdite.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Zone Interdite</h4>
                <span class="genre">Enquête</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/50inside.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>50' Inside</h4>
                <span class="genre">Actualité People</span>
              </div>
            </div>

            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/alerteattentat.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Alerte Attentat: Le monde Attaqué</h4>
                <span class="genre">Magazine / Docu</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/acteursdna.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Les acteurs de DNA</h4>
                <span class="genre">Magazine</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/dnafamily.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>DNA Family</h4>
                <span class="genre">Magazine</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/dnainfo.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>DNA Info</h4>
                <span class="genre">Information</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/oeilsurlemonde.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Un œil sur le monde</h4>
                <span class="genre">Information</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/bonjour.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Bonjour!</h4>
                <span class="genre">Matinale</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/13novembre.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>13 novembre 2015</h4>
                <span class="genre">Documentaire</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/villesdefrance.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Les plus belles villes de France</h4>
                <span class="genre">Documentaire</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/reportagedecouverte.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Reportage Découverte</h4>
                <span class="genre">Magazine</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/samedilactu.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Samedi l'actu</h4>
                <span class="genre">Information</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/samedimusic.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Samedi music</h4>
                <span class="genre">Magazine</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/samediconso.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Samedi conso</h4>
                <span class="genre">Magazine</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/samedipolitique.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Samedi Politique</h4>
                <span class="genre">Information</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/secretsdumonde.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Les secrets du monde</h4>
                <span class="genre">Documentaire</span>
              </div>
            </div>
            <div class="vod-card">
              <div
                class="card-img"
                style="
                  background-image: url(&quot;../../photo/grandreportage.jpg&quot;);
                "
              ></div>
              <div class="card-info">
                <h4>Grand Reportage</h4>
                <span class="genre">Terminé</span>
              </div>
            </div>
          </div>
          <button class="scroll-btn scroll-right">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </main>

    <script src="../footer/footer.js"></script>
    <script src="programme.js"></script>
  </body>
</html>
