<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mentions Légales - TF1 CP</title>

    <link rel="icon" type="image/png" href="../../img/favicon.png" />

    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../navbar/menu.css" />
    <link rel="stylesheet" href="legal.css" />
    <link rel="stylesheet" href="../footer/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <script defer src="https://cdn.vercel-insights.com/v1/script.js"></script>
  </head>
  <body>
    <script src="../navbar/navbar.js"></script>

    <header class="hero-legal">
      <h1>Mentions Légales</h1>
    </header>

    <main class="legal-container">
      <h1>Mentions légales</h1>

      <h2>Éditeur du site</h2>
      <p>Le site <strong>Groupe TF1 Camping Paradis</strong> est édité par :</p>

      <p>
        Groupe TF1 Camping Paradis<br />
        Société par actions simplifiée (SAS)<br />
        Siège social : Avenue Notre-Dame-de-Paris, La Garette, France
      </p>

      <p>Directeur de la publication : Mathis Lavillonnière</p>

      <h2>Hébergement</h2>

      <p>
        Le site est hébergé par :<br />
        Camping Paradis Digital Services<br />
        La Garette – France
      </p>

      <h2>Propriété intellectuelle</h2>

      <p>
        L’ensemble du contenu présent sur ce site (textes, images, logos,
        graphismes et structure) est la propriété du Groupe TF1 Camping Paradis
        sauf mention contraire.
      </p>

      <h2>Responsabilité</h2>

      <p>
        Le Groupe TF1 Camping Paradis met tout en œuvre pour fournir des
        informations fiables. Cependant, il ne peut garantir l’exactitude ou
        l’actualité des informations publiées.
      </p>

      <h2>Droit applicable</h2>

      <p>Le présent site est soumis au droit français.</p>

      <span class="last-updated">Dernière mise à jour : 30 avril 2026</span>
    </main>

    <script src="../footer/footer.js"></script>
  </body>
</html>
